{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}

    <table class="table justify-content-center">
        <tr>
            <th>{{ user.lastName }}</th>
        </tr>
        <tr>
            <th>{{ user.firstName }}</th>
        </tr>
        <tr>
            <th><img id="imageProfile" src={{asset('images/users/'~user.Filename)}}></th>
        </tr>
    </table>
        <a href={{ path("profile_modifypassword", {"id" : user.id}) }}>Modifier le mot de passe</a>

    </table>
{% endblock %}
