{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}

    <div class="example-wrapper">
        <h1>Contact</h1>
        <h2>{{ user.lastName }}</h2>
        <h2>{{ user.firstName }}</h2>
    </div>
{% endblock %}
